<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-dark px-3">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            Logo
          </a>
          <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-muted" href="#">
                    <i class="lni lni-facebook-filled"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="#">
                    <i class="lni lni-twitter-filled"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="#">
                    <i class="lni lni-instagram-filled"></i>
                </a>
            </li>
        </ul>
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js
    "></script>
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">

    
    <link rel="stylesheet" href="/css/style.css">
</footer>