<header>    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form role="search" class="me-3">
              <input class="form-control form-control-dark text-bg-dark" type="search" placeholder="Search" aria-label="Search">
            </form>

            <div class="text-end">
                <% if (user) { %>
                    <a href="/account" class="btn btn-outline-light me-2">Account</a>
                    <a href="/logout" class="btn btn-danger">Logout</a>
                <%} else {%>
                    <a href="/login" class="btn btn-outline-light me-2">Login</a>
                    <a href="/signup" class="btn btn-primary">Sign Up</a>
                <%} %>
            </div>
          </div>
        </div>
      </nav>
    </header>