:root {
    --bs-primary: #F08A5D;
    --bs-link-color: var(--bs-primary);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

body {
    background-color: var(--bs-gray-100) ;
    
}

body main {
    min-height: 87vh;
}

.card.shadow:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5)!important;
    transition: .3s;
}


/* Product Layout */
.qtyField {
    max-width: 90px;
    background-color: #fff;
    border: 1px solid var(--bs-gray-400);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.qtyField input {
    border: none;
    max-width: 30px;
    text-align: center;
}