<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
    <section class="container py-5">
        <div class="row">
            <div class="col">
                <h1>Edit Product</h1>
            </div>
        </div>
    </section>
    <main class="container ">
        <div class="row" id="product-data">
        </div> <!-- // .row -->
    </main>

    <section class="container pt-3">
        <div class="row">
            <div class="col">
                <a href="http://localhost:8080/"> Back to all products</a>
            </div>
        </div>
    </section>

    <script src="../js/product.js"></script>
</body>
</html>