<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
    <main class="container">
        <div class="row" id="product-data">
        </div> <!-- // .row -->
        
        
    </main>

    <script src="../js/product.js"></script>
</body>
</html>