<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <main  class="container pt-5">
        <div class="row">
            <div class="col">
                <h1>Error</h1>
                <h4> <%= error %>  </h4>

                <p>
                    <a href="/login">Login</a> | 
                    <a href="/signup">Signup</a>
                </p>
            </div>
        </div>
            
    </main>
    
</body>
</html>