<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
  <%- include('../partials/header')  %> 

    <main class="container py-5">
        <div class="row gap-4">
            <% if(products.length > 0){ %> 

              <% for (product of products) { %> 
                <%- include("../partials/product-card") %>
              <% } %> 
            <% }else { %> 
              <div class="col">
                <div class="alert alert-warning" role="alert">
                    No data was found
                </div>
              </div>
            <% } %> 
        </div> <!-- // .row -->
    </main>

    <%- include('../partials/footer')  %> 
</body>
</html>